button.mfp-arrow:hover {
  border-color: #C09368 !important; }

.cssload-cssload-spinner:before,
.swiper-arrow-left:hover,
.swiper-arrow-right:hover,
.folow a:hover,
.top-slider-2 .swiper-pagination-switch.swiper-active-switch,
#testimonials .swiper-pagination-switch.swiper-active-switch,
#news .swiper-pagination-switch.swiper-active-switch,
.post-nav .pages:hover,
.post-nav a .pages:hover,
#pager span, #pager a:hover,
.a-btn-3,
.wpcf7-form input[type="submit"],
.no-more,
.comment-widget input[type="submit"],
.a-btn,
.wpcf7-form input:focus,
.wpcf7-form textarea:focus {
  border-color: #C09368; }

.item-layer,
.fillter-wrap .but.activbut::before,
.fillter-wrap .but:hover::before,
.nav-menu-icon a i,
.left-menu nav ul a:hover::before,
.left-menu nav ul a:hover::after,
.top-slider-2.style-3 .wrap::before,
.top-slider-2.style-3 .wrap::after,
.wpcf7-form input[type="submit"]::before,
.second-title h2::before,
.second-title h2::after,
.choose .right-block .title h2::before,
.choose .right-block .title h2::after,
.blog-main::before,
.blog-main::after,
.service-block .text h4::before,
.service-block .text h4::after,
.team-slider .block-left .text h2::before,
.team-slider .block-left .text h2::after,
.a-btn-3::before,
.wpcf7-form input[type="submit"]:hover,
.comment-widget input[type="submit"]:hover,
.banner-post .banner-content h2.title::before,
.banner-post .banner-content h2.title::after,
.a-btn::before {
  background-color: #CA9E6E; }

.mfp-arrow-right:after,
.mfp-arrow-left:after,
.sub-menu > .sub-menu li a {
  color: #C09368 !important; }

.second-title p,
.choose .right-block .title p,
.info-block,
#portfolio .second-title p,
.choose-icon i,
.swiper-arrow-left:hover,
.swiper-arrow-right:hover,
.folow a:hover,
.news-block .text h6:hover,
.a-btn-2:hover,
.footer .folow a:hover,
.widget ul li a:hover,
.widget ol li a:hover,
.widget ul li:hover,
.widget ol li:hover,
.widget.widget_tag_cloud a:hover,
.widget.widget_rss ul a.rsswidget,
.sm-widget .title:hover,
.widget_calendar th:hover,
.widget_calendar td:hover,
.widget.widget_recent_comments .recentcomments .comment-author-link:hover,
.widget.widget_recent_comments .recentcomments a:hover,
.comment-widget .comments-block a,
.banner-post .banner-content .post-details > span > span,
.single-post .simple-article p a,
.comments-block table a,
.single-page.simple-article table a,
.single-post .simple-article table a,
.comments-block dl a,
.single-page.simple-article dl a,
.single-post .simple-article dl a,
.post-details > span > span:first-child,
.post.sticky h3::before,
.post.sticky h3 a,
.tags-widget .tag-box span,
.tags-widget .tag-box .post-categories li a:hover,
.blog-post-item .post-details > span > span:first-child,
.post-nav .pages,
.post-nav .pages:hover,
.post-nav a .pages.current,
#pager span, #pager a.current,
.post-nav a .pages:hover,
#pager span, #pager a:hover,
#pager a.next::before:hover,
#pager a.prev::before:hover,
figcaption a,
.tag-box a:hover,
.second-title p,
.choose .right-block .title p,
#portfolio .second-title p,
.choose-icon i,
.blog-post-item .post-details > span > span:first-child,
.banner-post .banner-content .post-details > span > span,
.tags-widget .tag-box span,
.copyright a:hover,
.team-slider .block-left .text h6,
.service-block .text h6 {
  color: #C09368; }

.a-btn,
.a-btn-2,
.second-title h2,
.choose .right-block .title h2,
.blog-main,
.block-about h5,
.service-block .text h4,
.service-block .text h6,
.choose-txt h6,
.how-block .text h6,
.news-block .text h6,
.contact-block h6,
.widget .title-w,
.widget ul li a,
.widget ol li a,
.widget ul li,
.widget ol li,
.widget.widget_recent_comments .recentcomments .comment-author-link:hover,
.widget.widget_recent_comments .recentcomments .comment-author-link,
.widget.widget_recent_comments .recentcomments a,
.widget.widget_recent_comments ul li::before,
.widget.widget_archive ul li::before,
.widget select,
.widget_calendar table,
.widget_calendar th,
.widget_calendar td,
.widget.widget_rss a.rsswidget,
.widget.widget_rss .rss-date,
.widget.widget_rss li:hover .rssSummary,
.widget.widget_rss li:hover cite,
.widget.widget_text,
.widget.widget_text p,
.sm-title,
.sm-widget .title,
.comment-widget h3.title,
.blog-post-item h3 a {
  color: #222; }

.service-block .text-p,
.fillter-wrap .but,
.choose-txt p,
.how-block .text p,
.team-slider .block-left .text p,
.folow a,
.news-block .text p,
.news-block .text span,
.cust-block .text .quote,
.cust-block .text span,
.contact-block a,
.footer .folow a,
.copyright span,
.single-post .simple-article p,
.tags-widget .tag-box .post-categories li a,
.tags-widget .tag-box .post-categories li::before,
.sm-widget .post-date,
.blog-post-item .post-details > span,
.blog-post-item .post-details > span > ul li a,
.excerpt p, .excerpt,
.contact-block span,
.contact-block p,
.blog-post-item .post-details > span > ul li::before,
.widget.widget_recent_comments .recentcomments,
.widget.widget_recent_comments .recentcomments:hover {
  color: #818181; }

.main-title,
.main-title p,
.team-slider .block-left .text h2,
.swiper-arrow-left,
.swiper-arrow-right,
.cust-block .text p,
.banner-post .banner-content h2.title,
.banner-post .banner-content .post-details > span,
.item-layer h3,
.item-layer p,
.left-menu nav ul li a {
  color: white; }

footer {
  background-color: #232323; }

/*# sourceMappingURL=colors.css.map */
